body {
  display: flex;   
  align-items: center;  
  justify-content: center;
  margin: 0;
}

main {
  font-family: "Jost", sans-serif;
  text-align: center;
}

#site {
  width: 1024px;
  height: 1024px;
  aspect-ratio: 1 / 1;
  min-width: 1024px;
  max-width: 1024px;
  min-height: 1024px;
  max-height: 1024px;
  cursor: url('cursor.png') 4 4, auto;
  
  background-image: url('back.png');
}

.rectangle {

  width: 1024px;
  height: 200px;
 
}


.header {
  position: relative;
  top: 140px;
  font-weight: 600;
  font-size: 90px;
  color: #f5f5f5;
  
  z-index: 2;
  
  border: none;             
  background: none;
  cursor: url('cursor.png') 4 4, auto;
}

.script {
  margin-top: 0px;
  font-weight: 600;
  font-size: 28px;
  color: #000;
}

@media (min-width: 1024px) {
  body {
    background-color: black; 
  }
}

